{%  extends "budget/base.html" %}

{% block body %}
{# Header Mobile #}
    <div class="head bg-gradient rounded-bottom p-4 pl-5 green-header shadow">
        <h1>Reports</h1>
    </div>
    <br>
{# Content #}
    <div class="container mt-3 mb-5 pb-5">
    {# Header Desktop #}
        <div class="white-header mb-5">
            <h1>Reports</h1>
        </div>
    {# Main #}
        <div class="main">
            <div class="row row-cols-1 row-cols-md-2 row-cols-sm-1">
                <div class="col mb-5">{% include "budget/components/graphics/monthly_spending_graph.html" %}</div>
            </div>
            <div class="row">
                <div class="col mb-5">{% include "budget/components/graphics/category_spending_graph.html" %}</div>
            </div>
        </div>
    {% endblock %}