{# Next Pay Day #}
<section id="next_pay_day">
        <div class="card shadow rounded-corner">
            <div class="card-body text-center">
                <h2 class="card-title">Next Pay Day</h2>
                <div class="row">
                    <div class="col">
                        <h3>{{ profile.payday }}</h3>
                        <h3>{{ profile }}</h3>
                        <h3>{{ profile.days_til_next_payday }}</h3>
                    </div>
{#                    <div class="col-6">#}
{#                        <h2 class="text-success">['#']</h2>#}
{#                        <h5 class="card-subtitle">Days Remaining</h5>#}
{#                    </div>#}
                </div>
            </div>
        </div>
    </section>
