{%  extends "budget/base.html" %}

{% block body %}
{# Header Mobile #}
    <div class="head bg-gradient rounded-bottom p-4 pl-5 green-header shadow">
        <h1>Profile</h1>
    </div>
    <br>
{# Content #}
    <div class="container mt-3 mb-5 pb-5">
    {# Header Desktop #}
        <div class="white-header mb-5">
            <h1>Profile</h1>
        </div>
    {# Main #}
        <div class="main">
        <h2>Update Payday:</h2>
            <hr>
            <form method="POST">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                    <label class="label text-capitalize">{{ field.name }}:</label>
                    {{ field }}
                </div>
                {% endfor %}
                <button type="submit" class="btn bg-darkGreen text-white">Update</button>
            </form>
            <br>
            <a href="{% url 'profile' %}" style="color: #007152;">Cancel</a>
        </div>
    </div>

{% endblock %}